hr {
    margin: 0;
}

.rodape {
    background: var(--rosa-degrade);
    padding: 1em;
}

.rodape__titulo {
    color: var(--cor-cinza-claro);
}

.lista-rodape {
    display: none;
}

@media screen and (min-width: 1024px) {

    .rodape {
        display: flex;
        justify-content: space-around;
        background: var(--cor-cinza-medio);
        padding: 4em 0em 1em;
    }

    .rodape__titulo, .container__titulo--negrito {
        font-size: 24px;
    }

    .lista-rodape {
        display: block;
    }

    .lista-rodape__titulo {
        color: var(--cor-cinza-claro);
        font-size: 0.87em;
    }

    .lista-rodape__item {
        display: flex;
        align-items: center;
        margin: 1.5em 0em;
    }

    .lista-rodape__link {
        text-decoration: none;
        color: var(--cor-cinza-footer);
        margin-left: 0.6em;
    }
}